/* Add your styles here */
body {
    margin: 0 auto;
}
h1 {
    font-weight: bold;
    display: inline-block;
    padding: 25px;;
}
#form, #result-block {
    display: inline-block;
    padding: 25px;
}
